<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-6 text-center">
                <a href="https://dossgollin-lab.github.io">
                    <i class="fa fa-home fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Lab Website</p>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <a href="https://jamesdossgollin.me/cv-pdf/CV_Doss-Gollin_James.pdf">
                    <i class="ai ai-cv fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Curriculum Vitae</p>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="ai ai-google-scholar ai-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Google Scholar</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-6 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
        </div>
    </div>
    </br></br>
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1081.9907415262999!2d-95.40124256735432!3d29.720716237669073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c07c6b7c621f%3A0xaae236e51aa76d26!2sRyon%20Engineering%20Laboratory!5e0!3m2!1sen!2sus!4v1584225312482!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>Office Location</h4>
            <i class="fas fa-map-pin"></i> 215 Ryon Laboratory
            <br/><br/>
            <h4>Administrative Address</h4>
            <p>
                Rice University<br />
                Department of Civil and Environmental Engineering<br />
                6100 Main Street<br />
                Ryon Lab 204-MS 318<br />
                Houston, Texas 77005<br />
                <br />
            </p>
        </div>
    </div>
</section>
