<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>James Doss-Gollin</h1>
            <hr>
            <p>
                I am an Assistant Professor in the Department of Civil and Environmental Engineering at Rice University.
                My research integrates earth science, data science, and decision science to support the design of flexible and adaptive infrastructure systems.
            </p>
            <a href="https://dossgollin-lab.github.io" class="btn btn-primary btn-xl page-scroll">Lab Website</a>
            </br></br></br></br></br></br></br>
            <img src="img/jdossgollin.jpeg" alt="James Doss-Gollin" class="lab-member-photo" style="width:200px; height:200px; float:center; border-radius:50%;"/>
        </div>
    </div>
</header>
