<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>James Doss-Gollin</h1>
            <hr>
            <p>
                I am an Assistant Professor in the Department of Civil and Environmental Engineering at Rice University.
                My research integrates earth science, data science, and decision science to support the design of flexible and adaptive infrastructure systems.
            </p>
            <div class="row">
                <table class="center">
                    <tr>
                      <td>
                          <a href="https://dossgollin-lab.github.io" target="_blank">
                             <i class="fa fa-home fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                             <p>Research Website</p>
                        </a>
                     </td>
                      <td>
                        <a href="https://dossgollin-lab.github.io/assets/pdf/Doss-Gollin-CV.pdf"  target="_blank">
                            <i class="ai ai-cv fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>Curriculum Vitae</p>
                        </a>
                      </td>
                      <td>
                        <a href="https://scholar.google.com/citations?user=6ifLBBsAAAAJ" target="_blank">
                            <i class="ai ai-google-scholar ai-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>Google Scholar</p>
                        </a>
                      </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                        </td>
                        <td>
                            <a href="mailto:{{ site.email }} target="_blank""><i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                        </td>
                        <td>
                            <a href="https://github.com/{{ site.github_username }} target="_blank"">
                                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                                </a>
                        </td>
                      </tr>
                  </table> 
            </div>
        </div>
    </br></br></br>
            <div class="row">
                <img src="img/jdossgollin.jpeg" alt="James Doss-Gollin" class="lab-member-photo" style="width:200px; height:200px; float:center; border-radius:50%;"/>
            </div>
        </div>
    </div>
</header>
