<section id="research">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://dossgollin-lab.github.io">
                    <i class="fa fa-home fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Lab Website</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://jamesdossgollin.me/cv-pdf/CV_Doss-Gollin_James.pdf">
                    <i class="ai ai-cv fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Curriculum Vitae</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="ai ai-google-scholar ai-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Google Scholar</p>
                </a>
            </div>
        </div>
    </div>
</section>
